*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    line-height: 1.7;
    color: #777;
    font-weight: 300;
    font-size: 1rem;
    background: #000;
}
.site-menu{
    gap: 20px;
    
    li{
       
        a{
            
            i {
               
                color: #777;
            }
        }
    }
}


.site-navbar {
    margin-bottom: 0px;
    z-index: 9;
    position: relative;
}

.site-navbar{
    background: transparent;
}
.site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.text-white.h2.mb-0{
    text-decoration: none;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}
h2.text-black.font-weight-light.mb-4.tex{
    color: #fff;
}

.site-navbar .site-navigation .site-menu .active{a {
    color: #20c997;
}
}

.site-navbar .site-navigation .site-menu {
    a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}
}

.site-navbar .site-navigation .site-menu{
    li {
    display: inline-block;
    padding: 10px 5px;
}
}

.site-navbar {
    li{
        a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-decoration: none !important;
    display: inline-block;
    padding: 10px 5px;
}
}
}

.site-navbar .site-navigation .site-menu{
    li{
        a:hover {
    color: #20c997;
}

    }
}

    

    .ONE{
        p{
            a{
                color: #20c997;
                text-decoration: none;
                 background-color: transparent;
            }
        }
    }

    .photo {


        .col-lg-4 {
            position: relative;
            padding-top: 15px;
            padding-bottom: 15px;
            background-image: none;
            filter: grayscale(100%);
    
            img {
                
            }
    
            &:hover {
                filter: grayscale(0%);
    
                .image-wrap-2 {
                    overflow: hidden;
                }
    
                img {
                    transform: scale(1.1);
                    transition: all 1s linear;
                }
            }
    
            .image-info {
                .text-i {
                    color: white;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    z-index: 2;
                    color: white;
                    transform: translate(-50%, -50%);
                }
    
                .btn {
                    margin-top: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 2;
                    background-color: transparent;
                    transform: translate(-50%);
                    border: 2px solid white;
                    color: white;
                    padding: 10px 18px;
                    cursor: pointer;
    
                    &:hover {
                        background-color: white;
                        color: #000;
                    }
                }
            }
        }
    
    }
    .site-section {
        padding: 2.5em 0;
    }
    .site-section-heading {
        color: #fff;
        position: relative;
        font-size: 2.5rem;

    }

    #gallery .item {
        margin-bottom: 30px;
    }
    
   
    
    #gallery .item:hover img {
        filter: none;
        filter: grayscale(0);
       transform: scale(1.01);
    }
    
    img {
        
        filter: gray;
        
        filter: grayscale(1);
      
        transition: all .1s ease-in-out;
    }
    
    img:hover {
        filter: none;
        filter: grayscale(0);
       transform: scale(1.01);
    }
    .site-block-feature-7 {
        background: #262626;
    }
    
    .site-block-feature-7 p {
        color: #777;
    }
    
    .site-block-feature-7 .icon {
        transition: .2s all ease-in-out;
      
        position: relative;
        transform: scale(1);
        
    }
   .color i{
       color: #20c997;
   }
   .form-control {
    height: 43px;
    border-radius: 0;
    background: transparent;
    border-color: #777;
    color: #fff !important;
}
.form-control:active,
.form-control:focus {
    border-color: #20c997;
    background: transparent;
}
.site-menu{ 
    li {
        a {
            i {
                font-size: 20px;

}
}
 }
 }
.form-control:hover,
.form-control:active,
.form-control:focus {
    box-shadow: none !important;
   
}   
a{
    text-decoration: none;
}
.mb-3{
    p{
        a{
            color: #20c997;
        }
    }
}
.col-md-12{
    margin-top: 25px;
}
.right{
    margin-left: 50px;
    margin-top: 30px;
}
.col{

    font-size: 18px;
}

.service-main{
    &:hover{
        i{
            transform: scale(1.3);
            transition: all .5 linear;
        }
    }
    i{
        color: #20c997;
    }
}